@model CatererViewModel

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Excel/_Index.cshtml" />

<br />
<div class="row">
    <div class="col col-sm-12 m4 offset-m4">
        <div class="card">
            <div class="card-content">
                <form enctype="multipart/form-data" asp-action="Create">
                    <ul class="stepper linear horizontal">
                        <li class="step active">
                            <div data-step-label="Please input your name as a caterer." class="step-title waves-effect waves-dark">Step 1</div>
                            <div class="step-content" style="">
                                <div class="row">
                                    <div class="form-group input-field col s12">
                                        <input asp-for="CatererName" id="catererName" class="form-control validate invalid" required="" />
                                        <label for="catererName">Caterer Name</label>
                                    </div>
                                </div>
                                <div class="step-actions">
                                    <button class="waves-effect waves-dark btn blue next-step">CONTINUE</button>
                                </div>
                            </div>
                        </li>
                        <li class="step">
                            <div class="step-title waves-effect waves-dark">Step 2</div>
                            <div class="step-content">
                                <div class="row">
                                    <div class="form-group">
                                        <label hidden asp-for="Lat" class="control-label"></label>
                                        <input hidden id="latitude-output" asp-for="Lat" class="form-control" />
                                        <span asp-validation-for="Lat" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label hidden asp-for="Long" class="control-label"></label>
                                        <input hidden id="longitude-output" asp-for="Long" class="form-control" />
                                        <span asp-validation-for="Long" class="text-danger"></span>
                                    </div>
                                    <!--Excel Upload-->
                                    <div class="form-group file-field input-field col s12">

                                        <div class="file-field input-field">
                                            <div class="btn blue">
                                                <span>File</span>
                                                <input type="file" asp-for="FormDocument" id="fileupload" class="form-control custom-file-input validate" required="">
                                            </div>
                                            <div class="file-path-wrapper">  
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="col-md-4">
                                            <input type="button" name="Upload" value="Upload" id="btnupload" class="btn btn-primary blue" />
                                        </div>

                                        <div class="clearfix">&nbsp;</div>

                                        <div class="row">
                                            <div id="divPrint"></div>
                                        </div>

                                    </div>
                                    <div class="step-actions">
                                        <button class="waves-effect waves-dark btn blue next-step">CONTINUE</button>
                                        <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                                    </div>
                                </div>
                        </li>
                        <li class="step">
                            <div class="step-title waves-effect waves-dark">Step 3</div>
                            <div class="step-content">
                                <!--Catering Facility Name-->
                                <div class="form-group input-field col s12">
                                    <input asp-for="CateringFacilitiName" type="text" id="facilityName" class="form-control" required="" aria-required="true" />
                                    <label for="facilityName">Catering Facility Name</label>
                                </div>
                                <!--Google Maps-->
                                <div hidden class="form-group row">
                                    <div class="col-sm-10">
                                        <label asp-for="Address" class="col-sm-2 col-form-label"></label>
                                    </div>
                                    <input class="form-control" id="formatted-address" asp-for="Address" required="" aria-required="true" />
                                </div>
                                <div class="form-group input-field col s12">
                                    <input type="text" id="location-input"
                                           class="form-control">
                                    <label for="address">Address</label>
                                </div>
                                <div id="formatted-components"></div>
                                <div class="container">
                                    <div class="col-md-4 center">
                                        <input type="button" name="Upload" value=" Google Submit" id="btngoogleupload" class="btn btn-primary blue" />
                                    </div>
                                </div>
                                <div class="step-actions">
                                    <button class="waves-effect waves-dark btn blue" type="submit">SUBMIT</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/materialize-stepper@3.1.0/dist/js/mstepper.min.js"></script>
<script>
    var stepper = document.querySelector('.stepper');
    var stepperInstace = new MStepper(stepper, {
        // options
        firstActive: 0 // this is the default
    })

</script>
<partial name="~/Views/GoogleMaps/_GoogleMapsPart.cshtml" />


