@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

    <div class="row container">
        <h1>@ViewData["Title"]</h1>
        <br />
        <h3>If you have provided a valid e-mail, a message containing an account confirmation link should arrive in your inbox soon.</h3>
    </div>
<partial name="_StatusMessage" model="Model.StatusMessage" />