@model IEnumerable<PocketMenuUI.Models.ModelsDTO.WeatherForecastDTO>

@{
    ViewData["Title"] = "Home Page";

}
<!-- Section: Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="~/img/land.png">
            <!-- random image -->
            <div class="caption right-align">
                <h2 class="black-text dark">Pocket Menu</h2>
                <h5 class="black-text text-lighten-3 hide-on-small-only">The perfect help with finding</h5>
                <h5 class="black-text text-lighten-3 hide-on-small-only">a place to wine and dine!</h5>
            </div>
        </li>
    </ul>
</section>
<!-- Section: Offers -->
<section class="section center">
    <div class="container">
        <h2>Best Dining Areas</h2>
        <h5 class="light text-lighten-3 hide-on-small-only">Find the restaurant or cafe which meets your needs.</h5>
        <div class="center container">
            <div class="col s8">
                <img class="card responsive-img" src="~/img/map_mock.png" />
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Personal Setup</h2>
        <h5 class="light text-lighten-3 hide-on-small-only">Pick your eating habits and start exploring.</h5>
        <div class="center container">
            <div class="col s8">
                <img class="card responsive-img" src="~/img/meals.png" />
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Chat With others</h2>
        <h5 class="light text-lighten-3 hide-on-small-only">Exchange opinions about meals and places to visit.</h5>
        <div class="center container">
            <div class="col s8">
                <img class="card responsive-img" src="~/img/disqus.png" />
            </div>
        </div>
    </div>

</section>

